body {
  transition: background 3s;
  background-image: url(./assets/def.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* .card, .Navbar, .accordion, .blur{
  backdrop-filter: blur(10px);
} */
.card-blur::before{
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  filter: blur(20px);
  position: absolute;
  inset: 3%;
  z-index: -1;
}


.temp {
  font-size: 350px;
}